@font-face {
    font-family: "InterVariable";
    src: url("fonts/Inter-VF.ttf") format("truetype-variations");
}

@font-face {
    font-family: "BoldonseRegular";
    src: url("fonts/Boldonse-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "UrbanistVariable";
    src: url("fonts/Urbanist-VF.ttf") format("truetype-variations");
}

body {
    font-size: 2em;
    font-family: "InterVariable";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #faf1f1;
    height: 100vh;
    margin: auto;
}

main {
    width: min(80vw, 1200px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#hello {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tai {
    background-color: #faf1f1;
    mask: url(img/tai-optimized.svg) no-repeat center;
    mask-size: contain;
}

h1 {
    width: 70%;
    font-family: "BoldonseRegular";
    margin: 15px 0;
    line-height: 1.3;
}